<div id="J_check_item" class="dialog_check_item clearfix">

<notempty name="item">
		<div class="goodsdetail">
			<div class="pic">
				<a href="{:U('jump/index',array('id'=>$item['id']))}" target="_blank"><img src="{$item.pic_url}_100x100.jpg" /></a>
			</div>
			<div class="detail">
				<p class="title"><a href="{:U('item/index',array('id'=>$item['id']))}" target="_blank">{$item.title}</a></p>
				<p class="red"> </p>
				<p class="seller">
				<span>{$item.nick} </span>&nbsp; </p>
				<p>
					<span class="price"><em>{$item.price} </em> </span>
					<span class="commission">   </span>
				</p>
			</div>
		</div>
</notempty>

   <notempty name="msg">
	<div class="cx">
		<div class="explain-col">
		<font color="red"><b>{$msg}</b></font>
		</div>
	</div>
   </notempty>
</div>